{% extends 'home/base.html' %}
{% block title %} - People: {{ person.name }}{% endblock title %}
{% block content %}
    <h2>{{ person.name }}</h2>
    <p>{{ person.date_published }}</p>
    <!-- 'all' is needed below to turn taggable object into list -->
    {% for tag in person.tags.all %}
      <a class="btn btn-info" href="{% url 'tag' selected_tag=tag %}">{{ tag }}</a>
    {% endfor %}
    <p class="pb-4">{{ person.content|safe }}</p>
    <a class="btn btn-heather mt-4" href="{% url 'articles' %}">Back to People</a></button>
{% endblock content %}
